<div class="container">
    <nav class="navbar">
        <h3>Applied (13)</h3>
    </nav>

    <div class="status-box-wrapper">
        <div class="status-box">
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
            <job-card></job-card>
        </div>
    </div>
</div>